realm=Artifactory Realm
host={{- onepasswordRead "op://private/tr6uwc3shep5gt4nndpzcn355q/artifactory_host" }}
user={{- onepasswordRead "op://private/tr6uwc3shep5gt4nndpzcn355q/username" }}
password={{- onepasswordRead "op://private/tr6uwc3shep5gt4nndpzcn355q/artifactory_password" }}
