realm=Artifactory Realm
host={{- (bitwardenFields "item" "4e8e4ac0-7324-4695-b1d1-ab9d0053baea").artifactory_host.value }}
user={{- (bitwarden "item" "4e8e4ac0-7324-4695-b1d1-ab9d0053baea").login.username }}
password={{- (bitwardenFields "item" "4e8e4ac0-7324-4695-b1d1-ab9d0053baea").artifactory_password.value }}
