{{- $isWork := promptBoolOnce . "isWork" "Work machine" }}
{{- $email := promptStringOnce . "email" "Email Address" }}
[data]
  work = {{ $isWork }}
  email = {{ $email | quote }}

[diff]
  pager = "delta"

[merge]
  command = "nvim"
  args = [ "-d", {{`"{{ .Destination }}"`}}, {{`"{{ .Source }}"`}}, {{`"{{ .Target }}"`}} ]
