[data]
{{- $isWork := promptBoolOnce . "isWork" "Work machine" }}
  work = {{ $isWork }}

[diff]
  pager = "delta"

[merge]
  command = "nvim"
  args = [ "-d", {{`"{{ .Destination }}"`}}, {{`"{{ .Source }}"`}}, {{`"{{ .Target }}"`}} ]
