# vim:ft=cfg sw=2 ts=2 et
[alias]
  ci = commit
  co = checkout
  create-pull-request = !sh -c 'stash pull-request $0'
  diffall = difftool --dir-diff
  diffsplit = -c delta.side-by-side=true diff
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  pushfl = push --force-with-lease
  rlog = log --date=relative
  root = !pwd
  st = status
  top = rev-parse --show-toplevel

[branch]
  autosetuprebase = always

[clean]
  requireForce = false

[color]
  ui = auto

[commit]
  gpgsign = true

[core]
  autocrlf = input
  safecrlf = warn
  editor = nvim
  excludesFile = {{ .chezmoi.homeDir -}}/.gitignore_global
  pager = delta
  synlinks = true

[credential]
  helper = osxkeychain

[delta]
  syntax-theme = Monokai Extended Bright
  line-numbers = true
  navigate = true
  #inspect-raw-lines = false

[delta "interactive"]
  keep-plus-minus-markers = true

[diff]
  tool = bc
  compactionHeuristic = true
  colorMoved = default

[difftool "bc"]
  trustExitCode = true

[fetch]
  prune = true

[filter "media"]
  clean = git-media filter-clean
  smudge = git-media filter-smudge

[gpg]
  format = ssh

[interactive]
  diffFilter = delta --color-only --features=interactive

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process

# reference: https://www.scootersoftware.com/kb/vcs#gitlinux
[merge]
  tool = bc

[mergetool]
  keepBackup = false

[mergetool "bc"]
  trustExitCode = true

[push]
  default = upstream

# [remote "origin"] # This make it so get keeps up with tags, but it also breaks homebrew HEAD apps
#   tagopt = --tags
#   pruneTags = true

[rerere]
  enabled = true

[user]
  name = Christian Rigdon
  email = {{ .email }}
{{ if .work }}
  signingkey = {{ (bitwarden "item" "Work Key").sshKey.publicKey }}
{{ else }}
  signingkey = {{ (bitwarden "item" "Home Key").sshKey.publicKey }}
{{- end }}
[tag]
  sort = version:refname
#[commit]
  #template = /Users/{{- .chezmoi.username -}}/.stCommitMsg
[help]
  autocorrect = 10
[init]
  defaultBranch = main
[gpg "ssh"]
  allowedSignersFile = {{ .chezmoi.homeDir -}}/.ssh/allowed_signers
