{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env sh
echo "Installing packages"

brew bundle --file=/dev/stdin <<EOF

tap "buo/cask-upgrade"
tap "homebrew/test-bot"
tap "jesseduffield/lazygit"
tap "hashicorp/tap"
{{- if not .work }}
tap "qmk/qmk"
{{ end -}}

{{- if .work }}
tap "coursier/formulas"
tap "scalacenter/bloop"
{{ end -}}

brew "antidote"
brew "apr-util"
brew "bat"
brew "bfg"
brew "chezmoi"
brew "coreutils"
brew "cowsay"
brew "curl"
# brew "exercism"
brew "eza"
brew "fd"
brew "findutils"
brew "fzf"
brew "gawk"
brew "gh"
brew "git"
brew "git-delta"
brew "git-lfs"
brew "git-svn"
brew "gnu-sed"
brew "gnupg"
brew "gnutls"
brew "gobject-introspection"
brew "hadolint"
brew "harfbuzz"
brew "hashicorp/tap/terraform"
brew "hub"
brew "jesseduffield/lazygit/lazygit"
brew "jq"
brew "less"
brew "lesspipe"
brew "libpq"
brew "mas"
brew "mise"
brew "mpv"
brew "nghttp2"
brew "pre-commit"
brew "ripgrep"
brew "rlwrap"
brew "rustup-init"
brew "shellcheck"
brew "shfmt"
brew "sponge"
brew "stylua"
brew "subversion"
brew "tig"
brew "tree"
brew "tree-sitter"
brew "vivid"
brew "wget"

{{- if .work }}
brew "aws-cdk"
brew "awscli"
brew "pipx"
brew "scc"
brew "pgcli"
brew "redis"
brew "snyk-cli"
brew "vault"
{{ else }}
brew "ansible"
brew "ffmpeg"
brew "qmk"
{{ end -}}

cask "1password"
cask "1password-cli"
cask "alfred"
cask "appcleaner"
cask "bettertouchtool"
cask "beyond-compare", args: { appdir: "~/Applications" }
cask "brave-browser", args: { appdir: "~/Applications" }
cask "font-fira-code-nerd-font"
cask "font-jetbrains-mono"
cask "font-jetbrains-mono-nerd-font"
cask "font-menlo-for-powerline"
cask "font-symbols-only-nerd-font"
cask "fork"
cask "iina"
cask "jordanbaird-ice", args: { appdir: "~/Applications" }
cask "keycastr"
cask "neovide-app"
cask "obsidian"
cask "rectangle", args: { appdir: "~/Applications" }
cask "the-unarchiver"
cask "typora"
cask "wezterm"
cask "yubico-authenticator", args: { appdir: "~/Applications" }

{{- if .work }}
cask "datagrip"
cask "dbschema", args: { appdir: "~/Applications" }
cask "figma"
cask "insomnia"
cask "muteme", args: { appdir: "~/Applications"}
cask "visual-studio-code", args: { appdir: "~/Applications" }
{{ else }}
cask "chatgpt"
cask "handbrake-app"
cask "itsycal"
cask "makemkv"
cask "mediainfo"
cask "musicbrainz-picard"
cask "nextcloud"
cask "send-to-kindle"
{{ end -}}

mas "Amphetamine", id: 937984704

{{- if not .work }}
mas "GarageBand", id: 682658836
mas "iMovie", id: 408981434
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
{{  end }}

{{- if .work }}
vscode "apollographql.vscode-apollo"
vscode "azemoh.one-monokai"
vscode "bierner.markdown-checkbox"
vscode "bierner.markdown-mermaid"
vscode "bpruitt-goddard.mermaid-markdown-syntax-highlighting"
vscode "Catppuccin.catppuccin-vsc"
vscode "claudineyqr.plantuml-snippets"
vscode "DavidAnson.vscode-markdownlint"
vscode "dbaeumer.vscode-eslint"
vscode "eamodio.gitlens"
vscode "formulahendry.docker-explorer"
vscode "formulahendry.docker-extension-pack"
vscode "GitHub.copilot"
vscode "GitHub.copilot-chat"
vscode "github.vscode-github-actions"
vscode "GraphQL.vscode-graphql"
vscode "GraphQL.vscode-graphql-syntax"
vscode "hashicorp.terraform"
vscode "jebbs.plantuml"
vscode "jinliming2.vscode-go-template"
vscode "kddejong.vscode-cfn-lint"
vscode "ms-azuretools.vscode-docker"
vscode "ms-vscode-remote.remote-containers"
vscode "ms-vsliveshare.vsliveshare"
vscode "PKief.material-icon-theme"
vscode "redhat.java"
vscode "redhat.vscode-yaml"
vscode "richardwillis.vscode-spotless-gradle"
vscode "systemticks.c4-dsl-extension"
vscode "tamasfe.even-better-toml"
vscode "VisualStudioExptTeam.intellicode-api-usage-examples"
vscode "VisualStudioExptTeam.vscodeintellicode"
vscode "vscjava.vscode-gradle"
vscode "vscjava.vscode-java-debug"
vscode "vscjava.vscode-java-dependency"
vscode "vscjava.vscode-java-pack"
vscode "vscjava.vscode-java-test"
vscode "vscjava.vscode-lombok"
vscode "vscjava.vscode-maven"
vscode "vscodevim.vim"
vscode "yzhang.markdown-all-in-one"
{{ end -}}

EOF
{{ end -}}
