{{- if .work }}
[tool_alias.java.versions]
8 = "zulu-8.74.0.17"
11 = "temurin-11.0.20+101"
17 = "corretto-17"
{{- end }}

[tools]
node = "22"
usage = "latest"

{{- if .work }}
# work tools
go = "latest"
gradle = "8"
java = "25"
maven = "3"
sbt = "1.4.9"
scala = "2.12"
uv = "latest"
python = "3.14"
{{- end }}

[settings]
disable_tools = ['neovim']
experimental = true

{{ if .work }}
idiomatic_version_file_enable_tools = ["java"]
python.uv_venv_auto = true
{{- end }}
