[alias.java.versions]
11 = "temurin-11.0.20+101"
8 = "zulu-8.74.0.17"
17 = "corretto-17"

[tools]
gradle = "8"
java = "21"
maven = "3"
node = "20"
usage = "latest"

{{- if .work }}
# work tools
sbt = "1.4.9"
scala = "2.12"
terraform = "1.9"
{{- end }}

[settings]
disable_tools = ['neovim']
