centralUsername={{- onepasswordRead "op://private/tr6uwc3shep5gt4nndpzcn355q/username" }}
centralPassword={{- onepasswordRead "op://private/tr6uwc3shep5gt4nndpzcn355q/artifactory_password" }}
artifactoryUsername= {{- onepasswordRead "op://private/tr6uwc3shep5gt4nndpzcn355q/username" }}
artifactoryPassword={{- onepasswordRead "op://private/tr6uwc3shep5gt4nndpzcn355q/artifactory_password" }}
org.gradle.caching=true
org.gradle.warning.mode=all
