centralUsername={{- (rbwFields "octanner").username.value }}
centralPassword={{- (rbwFields "octanner").artifactory_password.value }}
artifactoryUsername= {{- (rbwFields "octanner").username.value }}
artifactoryPassword={{- (rbwFields "octanner").artifactory_password.value }}
org.gradle.caching=true
org.gradle.warning.mode=all
