centralUsername={{- (bitwardenFields "item" "4e8e4ac0-7324-4695-b1d1-ab9d0053baea").username.value }}
centralPassword={{- (bitwardenFields "item" "4e8e4ac0-7324-4695-b1d1-ab9d0053baea").artifactory_password.value }}
artifactoryUsername= {{- (bitwardenFields "item" "4e8e4ac0-7324-4695-b1d1-ab9d0053baea").username.value }}
artifactoryPassword={{- (bitwardenFields "item" "4e8e4ac0-7324-4695-b1d1-ab9d0053baea").artifactory_password.value }}
org.gradle.caching=true
org.gradle.warning.mode=all
